In [1]:
from sklearn.linear_model import LassoCV
from sklearn import linear_model
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Data/finalDate.csv")
df.head()

,Unnamed: 0,Date,City,Unnamed: 0.1,Pack,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,0,Jan,altoona,175,36,34.28,51.43,9,154.29,8.25,...,0,0,1,0,0,0,0,0,0,0
1,1,Jan,ames,176,12,5.51,8.26,24,198.24,18.00,...,0,0,1,0,0,0,0,0,0,0
2,2,Jan,anamosa,177,42,24.14,36.20,54,554.34,61.50,...,0,0,1,0,0,0,0,0,0,0
3,3,Jan,ankeny,178,6,10.00,15.00,6,90.00,4.50,...,0,0,1,0,0,0,0,0,0,0
4,4,Jan,armstrong,179,12,11.34,17.01,3,51.03,3.00,...,0,0,1,0,0,0,0,0,0,0

In [3]:
df = df.drop(df.columns[0], axis=1)
df.head()

,Date,City,Unnamed: 0.1,Pack,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),100% Agave Tequila,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,Jan,altoona,175,36,34.28,51.43,9,154.29,8.25,0,...,0,0,1,0,0,0,0,0,0,0
1,Jan,ames,176,12,5.51,8.26,24,198.24,18.00,0,...,0,0,1,0,0,0,0,0,0,0
2,Jan,anamosa,177,42,24.14,36.20,54,554.34,61.50,0,...,0,0,1,0,0,0,0,0,0,0
3,Jan,ankeny,178,6,10.00,15.00,6,90.00,4.50,0,...,0,0,1,0,0,0,0,0,0,0
4,Jan,armstrong,179,12,11.34,17.01,3,51.03,3.00,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
df = df.drop(df.columns[0], axis=1)
df.head()

,City,Unnamed: 0.1,Pack,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),100% Agave Tequila,AMARETTO - IMPORTED,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,altoona,175,36,34.28,51.43,9,154.29,8.25,0,0,...,0,0,1,0,0,0,0,0,0,0
1,ames,176,12,5.51,8.26,24,198.24,18.00,0,0,...,0,0,1,0,0,0,0,0,0,0
2,anamosa,177,42,24.14,36.20,54,554.34,61.50,0,0,...,0,0,1,0,0,0,0,0,0,0
3,ankeny,178,6,10.00,15.00,6,90.00,4.50,0,0,...,0,0,1,0,0,0,0,0,0,0
4,armstrong,179,12,11.34,17.01,3,51.03,3.00,0,0,...,0,0,1,0,0,0,0,0,0,0

In [5]:
df = df.drop(df.columns[0], axis=1)
df.head()

,Unnamed: 0.1,Pack,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),100% Agave Tequila,AMARETTO - IMPORTED,AMERICAN ALCOHOL,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,175,36,34.28,51.43,9,154.29,8.25,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,176,12,5.51,8.26,24,198.24,18.00,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,177,42,24.14,36.20,54,554.34,61.50,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,178,6,10.00,15.00,6,90.00,4.50,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,179,12,11.34,17.01,3,51.03,3.00,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:

df = df.drop(df.columns[0], axis=1)
df.head()

,Pack,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),100% Agave Tequila,AMARETTO - IMPORTED,AMERICAN ALCOHOL,AMERICAN AMARETTO,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,36,34.28,51.43,9,154.29,8.25,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12,5.51,8.26,24,198.24,18.00,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,42,24.14,36.20,54,554.34,61.50,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,6,10.00,15.00,6,90.00,4.50,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12,11.34,17.01,3,51.03,3.00,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [7]:
df = df.drop("monthPurchased", axis=1)
df.head()

,Pack,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),100% Agave Tequila,AMARETTO - IMPORTED,AMERICAN ALCOHOL,AMERICAN AMARETTO,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,36,34.28,51.43,9,154.29,8.25,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12,5.51,8.26,24,198.24,18.00,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,42,24.14,36.20,54,554.34,61.50,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,6,10.00,15.00,6,90.00,4.50,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12,11.34,17.01,3,51.03,3.00,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [8]:
df = df.drop("Bottles Sold", axis=1)
df.head()

,Pack,State Bottle Cost,State Bottle Retail,Sale (Dollars),Volume Sold (Liters),100% Agave Tequila,AMARETTO - IMPORTED,AMERICAN ALCOHOL,AMERICAN AMARETTO,AMERICAN COCKTAILS,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,36,34.28,51.43,154.29,8.25,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12,5.51,8.26,198.24,18.00,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,42,24.14,36.20,554.34,61.50,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,6,10.00,15.00,90.00,4.50,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12,11.34,17.01,51.03,3.00,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [9]:
df = df.drop("Sale (Dollars)", axis=1)
df.head()

,Pack,State Bottle Cost,State Bottle Retail,Volume Sold (Liters),100% Agave Tequila,AMARETTO - IMPORTED,AMERICAN ALCOHOL,AMERICAN AMARETTO,AMERICAN COCKTAILS,AMERICAN DRY GINS,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,36,34.28,51.43,8.25,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12,5.51,8.26,18.00,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,42,24.14,36.20,61.50,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,6,10.00,15.00,4.50,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12,11.34,17.01,3.00,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [10]:
df = df.drop("Volume Sold (Liters)", axis=1)
df.head()

,Pack,State Bottle Cost,State Bottle Retail,100% Agave Tequila,AMARETTO - IMPORTED,AMERICAN ALCOHOL,AMERICAN AMARETTO,AMERICAN COCKTAILS,AMERICAN DRY GINS,AMERICAN GRAPE BRANDIES,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,36,34.28,51.43,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,12,5.51,8.26,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,42,24.14,36.20,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,6,10.00,15.00,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12,11.34,17.01,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [11]:
list(df)

['Pack',
 'State Bottle Cost',
 'State Bottle Retail',
 '100% Agave Tequila',
 'AMARETTO - IMPORTED',
 'AMERICAN ALCOHOL',
 'AMERICAN AMARETTO',
 'AMERICAN COCKTAILS',
 'AMERICAN DRY GINS',
 'AMERICAN GRAPE BRANDIES',
 'AMERICAN SLOE GINS',
 'ANISETTE',
 'APPLE SCHNAPPS',
 'APRICOT BRANDIES',
 'Aged Dark Rum',
 'American Brandies',
 'American Cordials & Liqueur',
 'American Cordials & Liqueurs',
 'American Distilled Spirit Specialty',
 'American Distilled Spirits Specialty',
 'American Dry Gins',
 'American Flavored Vodka',
 'American Schnapps',
 'American Sloe Gins',
 'American Vodka',
 'American Vodkas',
 'BARBADOS RUM',
 'BLACKBERRY BRANDIES',
 'BLENDED WHISKIES',
 'BOTTLED IN BOND BOURBON',
 'BUTTERSCOTCH SCHNAPPS',
 'Blended Whiskies',
 'Bottled in Bond Bourbon',
 'CANADIAN WHISKIES',
 'CHERRY BRANDIES',
 'CINNAMON SCHNAPPS',
 'COFFEE LIQUEURS',
 'CORN WHISKIES',
 'CREAM LIQUEURS',
 'CREME DE ALMOND',
 'Canadian Whiskies',
 'Cocktails / RTD',
 'Cocktails /RTD',
 'Coffee Liqueurs',
 'Corn Whiskies',
 'Cream Liqueurs',
 'DARK CREME DE CACAO',
 'DECANTERS & SPECIALTY PACKAGES',
 'DISTILLED SPIRITS SPECIALTY',
 'Delisted Items',
 'FLAVORED GINS',
 'FLAVORED RUM',
 'Flavored Gin',
 'Flavored Rum',
 'GRAPE SCHNAPPS',
 'GREEN CREME DE MENTHE',
 'Gold Rum',
 'HIGH PROOF BEER - AMERICAN',
 'Holiday VAP',
 'IMPORTED AMARETTO',
 'IMPORTED DRY GINS',
 'IMPORTED GRAPE BRANDIES',
 'IMPORTED SCHNAPPS',
 'IMPORTED VODKA',
 'IMPORTED VODKA - CHERRY',
 'IMPORTED VODKA - MISC',
 'IRISH WHISKIES',
 'Imported Brandies',
 'Imported Cordials & Liqueur',
 'Imported Cordials & Liqueurs',
 'Imported Distilled Spirit Specialty',
 'Imported Distilled Spirits Specialty',
 'Imported Dry Gins',
 'Imported Flavored Vodka',
 'Imported Schnapps',
 'Imported Vodka',
 'Imported Vodkas',
 'Iowa Distilleries',
 'Iowa Distillery Whiskies',
 'Irish Whiskies',
 'JAMAICA RUM',
 'JAPANESE WHISKY',
 'LOW PROOF VODKA',
 'MISC. AMERICAN CORDIALS & LIQUEURS',
 'MISC. IMPORTED CORDIALS & LIQUEURS',
 'MISCELLANEOUS  BRANDIES',
 'MISCELLANEOUS SCHNAPPS',
 'Mezcal',
 'Mixto Tequila',
 'Neutral Grain Spirits',
 'Neutral Grain Spirits Flavored',
 'OTHER PROOF VODKA',
 'PEACH BRANDIES',
 'PEACH SCHNAPPS',
 'PEPPERMINT SCHNAPPS',
 'PUERTO RICO & VIRGIN ISLANDS RUM',
 'RASPBERRY SCHNAPPS',
 'ROCK & RYE',
 'ROOT BEER SCHNAPPS',
 'SCHNAPPS - IMPORTED',
 'SCOTCH WHISKIES',
 'SINGLE BARREL BOURBON WHISKIES',
 'SINGLE MALT SCOTCH',
 'SPEARMINT SCHNAPPS',
 'SPICED RUM',
 'STRAIGHT BOURBON WHISKIES',
 'STRAIGHT RYE WHISKIES',
 'STRAWBERRY SCHNAPPS',
 'Scotch Whiskies',
 'Single Barrel Bourbon Whiskies',
 'Single Malt Scotch',
 'Special Order Items',
 'Spiced Rum',
 'Straight Bourbon Whiskies',
 'Straight Rye Whiskies',
 'TENNESSEE WHISKIES',
 'TEQUILA',
 'TRIPLE SEC',
 'TROPICAL FRUIT SCHNAPPS',
 'Temporary &  Specialty Packages',
 'Temporary & Specialty Packages',
 'Tennessee Whiskies',
 'Triple Sec',
 'VODKA 80 PROOF',
 'VODKA FLAVORED',
 'WATERMELON SCHNAPPS',
 'WHISKEY LIQUEUR',
 'WHITE CREME DE CACAO',
 'WHITE CREME DE MENTHE',
 'Whiskey Liqueur',
 'White Rum',
 'Population (2010)',
 'sq mi',
 'km2',
 'Sales_Per_Capita',
 'Bottles_Per_Capita',
 'Volume_Per_Capita',
 'Apr',
 'Aug',
 'Dec',
 'Feb',
 'Jan',
 'Jul',
 'Jun',
 'Mar',
 'May',
 'Nov',
 'Oct',
 'Sep']

In [12]:
df = df.drop("Population (2010)", axis = 1)

In [13]:
salesTarget = df
yVal1 = salesTarget["Sales_Per_Capita"]
salesTarget = salesTarget.drop("Sales_Per_Capita", axis = 1)
salesTarget = salesTarget.drop("Bottles_Per_Capita", axis = 1)
salesTarget = salesTarget.drop("Volume_Per_Capita", axis = 1)

In [14]:
list(salesTarget)

['Pack',
 'State Bottle Cost',
 'State Bottle Retail',
 '100% Agave Tequila',
 'AMARETTO - IMPORTED',
 'AMERICAN ALCOHOL',
 'AMERICAN AMARETTO',
 'AMERICAN COCKTAILS',
 'AMERICAN DRY GINS',
 'AMERICAN GRAPE BRANDIES',
 'AMERICAN SLOE GINS',
 'ANISETTE',
 'APPLE SCHNAPPS',
 'APRICOT BRANDIES',
 'Aged Dark Rum',
 'American Brandies',
 'American Cordials & Liqueur',
 'American Cordials & Liqueurs',
 'American Distilled Spirit Specialty',
 'American Distilled Spirits Specialty',
 'American Dry Gins',
 'American Flavored Vodka',
 'American Schnapps',
 'American Sloe Gins',
 'American Vodka',
 'American Vodkas',
 'BARBADOS RUM',
 'BLACKBERRY BRANDIES',
 'BLENDED WHISKIES',
 'BOTTLED IN BOND BOURBON',
 'BUTTERSCOTCH SCHNAPPS',
 'Blended Whiskies',
 'Bottled in Bond Bourbon',
 'CANADIAN WHISKIES',
 'CHERRY BRANDIES',
 'CINNAMON SCHNAPPS',
 'COFFEE LIQUEURS',
 'CORN WHISKIES',
 'CREAM LIQUEURS',
 'CREME DE ALMOND',
 'Canadian Whiskies',
 'Cocktails / RTD',
 'Cocktails /RTD',
 'Coffee Liqueurs',
 'Corn Whiskies',
 'Cream Liqueurs',
 'DARK CREME DE CACAO',
 'DECANTERS & SPECIALTY PACKAGES',
 'DISTILLED SPIRITS SPECIALTY',
 'Delisted Items',
 'FLAVORED GINS',
 'FLAVORED RUM',
 'Flavored Gin',
 'Flavored Rum',
 'GRAPE SCHNAPPS',
 'GREEN CREME DE MENTHE',
 'Gold Rum',
 'HIGH PROOF BEER - AMERICAN',
 'Holiday VAP',
 'IMPORTED AMARETTO',
 'IMPORTED DRY GINS',
 'IMPORTED GRAPE BRANDIES',
 'IMPORTED SCHNAPPS',
 'IMPORTED VODKA',
 'IMPORTED VODKA - CHERRY',
 'IMPORTED VODKA - MISC',
 'IRISH WHISKIES',
 'Imported Brandies',
 'Imported Cordials & Liqueur',
 'Imported Cordials & Liqueurs',
 'Imported Distilled Spirit Specialty',
 'Imported Distilled Spirits Specialty',
 'Imported Dry Gins',
 'Imported Flavored Vodka',
 'Imported Schnapps',
 'Imported Vodka',
 'Imported Vodkas',
 'Iowa Distilleries',
 'Iowa Distillery Whiskies',
 'Irish Whiskies',
 'JAMAICA RUM',
 'JAPANESE WHISKY',
 'LOW PROOF VODKA',
 'MISC. AMERICAN CORDIALS & LIQUEURS',
 'MISC. IMPORTED CORDIALS & LIQUEURS',
 'MISCELLANEOUS  BRANDIES',
 'MISCELLANEOUS SCHNAPPS',
 'Mezcal',
 'Mixto Tequila',
 'Neutral Grain Spirits',
 'Neutral Grain Spirits Flavored',
 'OTHER PROOF VODKA',
 'PEACH BRANDIES',
 'PEACH SCHNAPPS',
 'PEPPERMINT SCHNAPPS',
 'PUERTO RICO & VIRGIN ISLANDS RUM',
 'RASPBERRY SCHNAPPS',
 'ROCK & RYE',
 'ROOT BEER SCHNAPPS',
 'SCHNAPPS - IMPORTED',
 'SCOTCH WHISKIES',
 'SINGLE BARREL BOURBON WHISKIES',
 'SINGLE MALT SCOTCH',
 'SPEARMINT SCHNAPPS',
 'SPICED RUM',
 'STRAIGHT BOURBON WHISKIES',
 'STRAIGHT RYE WHISKIES',
 'STRAWBERRY SCHNAPPS',
 'Scotch Whiskies',
 'Single Barrel Bourbon Whiskies',
 'Single Malt Scotch',
 'Special Order Items',
 'Spiced Rum',
 'Straight Bourbon Whiskies',
 'Straight Rye Whiskies',
 'TENNESSEE WHISKIES',
 'TEQUILA',
 'TRIPLE SEC',
 'TROPICAL FRUIT SCHNAPPS',
 'Temporary &  Specialty Packages',
 'Temporary & Specialty Packages',
 'Tennessee Whiskies',
 'Triple Sec',
 'VODKA 80 PROOF',
 'VODKA FLAVORED',
 'WATERMELON SCHNAPPS',
 'WHISKEY LIQUEUR',
 'WHITE CREME DE CACAO',
 'WHITE CREME DE MENTHE',
 'Whiskey Liqueur',
 'White Rum',
 'sq mi',
 'km2',
 'Apr',
 'Aug',
 'Dec',
 'Feb',
 'Jan',
 'Jul',
 'Jun',
 'Mar',
 'May',
 'Nov',
 'Oct',
 'Sep']

In [15]:
setAlpha = np.full(len(list(salesTarget)), 0.03)

In [16]:
reg1 = LassoCV(alphas = setAlpha, max_iter = 10000, cv = 25).fit(salesTarget, yVal1)

In [17]:
reg1.score(salesTarget, yVal1)

0.15669145676953466

In [18]:
reg1.coef_

array([ -1.09159877e-03,   6.75608481e-04,   2.68611437e-06,
        -2.45020275e-02,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         2.56100612e-03,  -7.67981463e-03,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   1.31545874e-02,
        -2.51068445e-02,   5.52697074e-02,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   3.73258802e-03,  -0.00000000e+00,
        -4.28467144e-02,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   1.04719922e-01,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   2.42045437e-02,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -7.47002347e-04,   0.00000000e+00,  -0.00000000e+00,
         2.82911721e-02,   0.00000000e+00,   4.10750732e-02,
         0.00000000e+00,   9.64661494e-03,   0.00000000e+00,
        -0.00000000e+00,  -3.58606051e-03,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   5.17832813e-02,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         1.03952217e-02,  -0.00000000e+00,  -8.10707228e-02,
         0.00000000e+00,   0.00000000e+00,  -2.01308390e-02,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         1.50283791e-02,   4.71748946e-02,   2.04596129e-02,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -6.67740244e-03,   0.00000000e+00,  -0.00000000e+00,
        -6.35128339e-03,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00])

In [19]:
bottlesTarget = df
yVal2 = bottlesTarget["Bottles_Per_Capita"]
bottlesTarget = bottlesTarget.drop("Bottles_Per_Capita", axis = 1)
bottlesTarget = bottlesTarget.drop("Volume_Per_Capita", axis = 1)
bottlesTarget = bottlesTarget.drop("Sales_Per_Capita", axis = 1)

In [20]:
reg2 = LassoCV(alphas = setAlpha, max_iter = 10000, cv = 25).fit(bottlesTarget, yVal2)

In [21]:
reg2.score(bottlesTarget, yVal2)

0.13139811803230517

In [22]:
reg2.coef_

array([ -4.26165520e-05,   1.87299595e-05,   2.38715107e-07,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   7.51765945e-03,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -6.08998802e-04,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00])

In [23]:
list(bottlesTarget)

['Pack',
 'State Bottle Cost',
 'State Bottle Retail',
 '100% Agave Tequila',
 'AMARETTO - IMPORTED',
 'AMERICAN ALCOHOL',
 'AMERICAN AMARETTO',
 'AMERICAN COCKTAILS',
 'AMERICAN DRY GINS',
 'AMERICAN GRAPE BRANDIES',
 'AMERICAN SLOE GINS',
 'ANISETTE',
 'APPLE SCHNAPPS',
 'APRICOT BRANDIES',
 'Aged Dark Rum',
 'American Brandies',
 'American Cordials & Liqueur',
 'American Cordials & Liqueurs',
 'American Distilled Spirit Specialty',
 'American Distilled Spirits Specialty',
 'American Dry Gins',
 'American Flavored Vodka',
 'American Schnapps',
 'American Sloe Gins',
 'American Vodka',
 'American Vodkas',
 'BARBADOS RUM',
 'BLACKBERRY BRANDIES',
 'BLENDED WHISKIES',
 'BOTTLED IN BOND BOURBON',
 'BUTTERSCOTCH SCHNAPPS',
 'Blended Whiskies',
 'Bottled in Bond Bourbon',
 'CANADIAN WHISKIES',
 'CHERRY BRANDIES',
 'CINNAMON SCHNAPPS',
 'COFFEE LIQUEURS',
 'CORN WHISKIES',
 'CREAM LIQUEURS',
 'CREME DE ALMOND',
 'Canadian Whiskies',
 'Cocktails / RTD',
 'Cocktails /RTD',
 'Coffee Liqueurs',
 'Corn Whiskies',
 'Cream Liqueurs',
 'DARK CREME DE CACAO',
 'DECANTERS & SPECIALTY PACKAGES',
 'DISTILLED SPIRITS SPECIALTY',
 'Delisted Items',
 'FLAVORED GINS',
 'FLAVORED RUM',
 'Flavored Gin',
 'Flavored Rum',
 'GRAPE SCHNAPPS',
 'GREEN CREME DE MENTHE',
 'Gold Rum',
 'HIGH PROOF BEER - AMERICAN',
 'Holiday VAP',
 'IMPORTED AMARETTO',
 'IMPORTED DRY GINS',
 'IMPORTED GRAPE BRANDIES',
 'IMPORTED SCHNAPPS',
 'IMPORTED VODKA',
 'IMPORTED VODKA - CHERRY',
 'IMPORTED VODKA - MISC',
 'IRISH WHISKIES',
 'Imported Brandies',
 'Imported Cordials & Liqueur',
 'Imported Cordials & Liqueurs',
 'Imported Distilled Spirit Specialty',
 'Imported Distilled Spirits Specialty',
 'Imported Dry Gins',
 'Imported Flavored Vodka',
 'Imported Schnapps',
 'Imported Vodka',
 'Imported Vodkas',
 'Iowa Distilleries',
 'Iowa Distillery Whiskies',
 'Irish Whiskies',
 'JAMAICA RUM',
 'JAPANESE WHISKY',
 'LOW PROOF VODKA',
 'MISC. AMERICAN CORDIALS & LIQUEURS',
 'MISC. IMPORTED CORDIALS & LIQUEURS',
 'MISCELLANEOUS  BRANDIES',
 'MISCELLANEOUS SCHNAPPS',
 'Mezcal',
 'Mixto Tequila',
 'Neutral Grain Spirits',
 'Neutral Grain Spirits Flavored',
 'OTHER PROOF VODKA',
 'PEACH BRANDIES',
 'PEACH SCHNAPPS',
 'PEPPERMINT SCHNAPPS',
 'PUERTO RICO & VIRGIN ISLANDS RUM',
 'RASPBERRY SCHNAPPS',
 'ROCK & RYE',
 'ROOT BEER SCHNAPPS',
 'SCHNAPPS - IMPORTED',
 'SCOTCH WHISKIES',
 'SINGLE BARREL BOURBON WHISKIES',
 'SINGLE MALT SCOTCH',
 'SPEARMINT SCHNAPPS',
 'SPICED RUM',
 'STRAIGHT BOURBON WHISKIES',
 'STRAIGHT RYE WHISKIES',
 'STRAWBERRY SCHNAPPS',
 'Scotch Whiskies',
 'Single Barrel Bourbon Whiskies',
 'Single Malt Scotch',
 'Special Order Items',
 'Spiced Rum',
 'Straight Bourbon Whiskies',
 'Straight Rye Whiskies',
 'TENNESSEE WHISKIES',
 'TEQUILA',
 'TRIPLE SEC',
 'TROPICAL FRUIT SCHNAPPS',
 'Temporary &  Specialty Packages',
 'Temporary & Specialty Packages',
 'Tennessee Whiskies',
 'Triple Sec',
 'VODKA 80 PROOF',
 'VODKA FLAVORED',
 'WATERMELON SCHNAPPS',
 'WHISKEY LIQUEUR',
 'WHITE CREME DE CACAO',
 'WHITE CREME DE MENTHE',
 'Whiskey Liqueur',
 'White Rum',
 'sq mi',
 'km2',
 'Apr',
 'Aug',
 'Dec',
 'Feb',
 'Jan',
 'Jul',
 'Jun',
 'Mar',
 'May',
 'Nov',
 'Oct',
 'Sep']

In [24]:
volumeTarget = df
yVal3 = volumeTarget["Volume_Per_Capita"]
volumeTarget = volumeTarget.drop("Volume_Per_Capita", axis = 1)
volumeTarget = volumeTarget.drop("Sales_Per_Capita", axis = 1)
volumeTarget = volumeTarget.drop("Bottles_Per_Capita", axis = 1)

In [25]:
reg3 = LassoCV(alphas = setAlpha, max_iter = 10000, cv = 25).fit(volumeTarget, yVal3)

In [26]:
print(bottlesTarget.shape)
print(yVal3.shape)
reg3.score(volumeTarget, yVal3)

(82650, 145)
(82650,)

0.15702056183971524

In [27]:
reg3.coef_

array([ -5.72018749e-05,   3.30468519e-05,   2.74086818e-07,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   7.69039764e-03,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -5.47356595e-04,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00])

In [28]:
def SSE(X, y, betaHat):
    return np.sum((y-np.matmul(X, betaHat))**2)

In [29]:
print(SSE(salesTarget, yVal1, reg1.coef_)/salesTarget.shape[0])

4.40697303648

In [30]:
print(SSE(bottlesTarget, yVal2, reg2.coef_)/bottlesTarget.shape[0])

0.0263565552845

In [31]:
print(SSE(volumeTarget, yVal3, reg3.coef_)/volumeTarget.shape[0])

0.0208048070936

In [32]:
def find_zero_coef(startList, coef): 
    for i in range(len(coef)):
        if coef[i] == 0:
            startList.append(i)

In [33]:
dropListSales = []
find_zero_coef(dropListSales, reg1.coef_)

In [34]:
salesTarget = salesTarget.drop(salesTarget.columns[dropListSales], axis = 1)

In [35]:
salesFinalCoef = np.delete(reg1.coef_, dropListSales)

In [36]:
#k = number of variables
#n = number of observations
#BIC = n*ln(sse/n) + k*ln(n) = number of variables
salesBIC = salesTarget.shape[0]*np.log(SSE(salesTarget, yVal1, salesFinalCoef)/salesTarget.shape[0]) + salesTarget.shape[1]*np.log(salesTarget.shape[0])
print(salesBIC)

122891.197772

In [37]:
dropListBottles = []
find_zero_coef(dropListBottles, reg2.coef_)

In [38]:
bottlesTarget = bottlesTarget.drop(bottlesTarget.columns[dropListBottles], axis = 1)

In [39]:
bottlesFinalCoef = np.delete(reg2.coef_, dropListBottles)

In [40]:
bottleBIC = bottlesTarget.shape[0] * np.log(SSE(bottlesTarget, yVal2, bottlesFinalCoef)/bottlesTarget.shape[0]) + bottlesTarget.shape[1]*np.log(bottlesTarget.shape[0])
print(bottleBIC)

-300461.950135

In [41]:
dropListVolume = []
find_zero_coef(dropListVolume, reg3.coef_)

In [42]:
volumeTarget = volumeTarget.drop(volumeTarget.columns[dropListVolume], axis = 1)

In [43]:
volumeFinalCoef = np.delete(reg3.coef_, dropListVolume)

In [44]:
volumeBIC = volumeTarget.shape[0]*np.log(SSE(volumeTarget, yVal3, volumeFinalCoef)/volumeTarget.shape[0]) + volumeTarget.shape[1]*np.log(volumeTarget.shape[0])
print(volumeBIC)

-320011.398549